/* font-family: "TheSerifPlain"; */
@font-face {
	font-family: "TheSerifPlain";
	src: url("../fonts/TheSerifPlain/ufonts.com_theserif_plain.eot");
	src: url("../fonts/TheSerifPlain/ufonts.com_theserif_plain.eot?#iefix")format("embedded-opentype"),
	url("../fonts/TheSerifPlain/ufonts.com_theserif_plain.woff") format("woff"),
	url("../fonts/TheSerifPlain/ufonts.com_theserif_plain.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PtSansRegular"; */
@font-face {
	font-family:"PtSansRegular";
	src:url("../fonts/pt_sans_regular.ttf");
}