ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color:#f6f9ff;
}
.navbar{
	background-color: #182c33;
}
.navbar-brand{
	height: 62px;
	padding-top: 3px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a.active{
	color: #f6ae35;
	background-color: #213942 !important;
}
.navbar-collapse{
	width: 960px;
}
.navbar-nav{
	margin-top:4px; 
	float: right;
}
.navbar-nav a{
	display: inline-block;
	font-size: 16px;
	color: #8dccd7;
	padding: 14px 11px 14px 11px !important;
	margin-left: 9px;
	border-radius: 20px;
	font-family: "TheSerifPlain";
}
.header_center h3.header_text{
	color:#fff;
	font-size: 40px;
	margin: 0;
	text-align: center;
	padding:34px 0 80px;
	letter-spacing: 3px;
	background-image: url(../img/bg.png);
	font-family:serif;
}
.col-md-8{
	padding: 0;	
}
 body > .container{
	padding: 0;
}
.main{
	width: 960px;
}
.main_img{
	display: inline-block;
	width:738px;
	height: 311px;
	position: relative;
	top:-38px;
	background: url(../img/main_img1.jpg) no-repeat;
}
.quad {
	background: #337e99;
	width: 60px;
	height: 60px;
	color: #fff;
	position: absolute;
	top:20px;
	left: 10px;
}
.quad div {
	font-family: "PtSansRegular";
	display: inline-block;
}
.quad #day{
	font-size:26px;
	margin-top: 11px;
	margin-left: 17px;
	line-height: 19px;
}
.month_years{
	color:#9bc0ce;
	font-size: 11px;
	margin-left: 13px;
}
.right_menu {
	float: right;
	width: 200px;
}
.net-icons {
	padding: 0;
	margin-left: 9px;
}
.net-icons li{
    display: inline-block;
    padding-top: 30px;
    margin-left: 15px;
}
.net-icons :first-child{
	margin-left: 0;
}
.net-icons li a{
	width: 31px;
	height: 31px;
	display: block;
	background: url(../img/sprite.png) no-repeat -92px 0;
}
.net-icons li .tw{
	background-position: -61px 0;
}
.net-icons li .fb{
	background-position: -30px 0;
}
.net-icons li .vk{
	background-position: 0 0;
}
.sidebar ul{
	margin-top: 22px;
	padding: 0;
}
.sidebar a{
	display:block;
	padding: 15px 10px;
	border-bottom: 1px solid #cad3dc;
	color:#0067a6;
	font-size: 16px;
}
.sidebar ul:first-child{
	border-top: 1px solid #cad3dc;
}
.sidebar a:hover,
.sidebar a:focus,
.sidebar a.active{
	background: #90b0be;
	color:#fff;
	text-decoration: none;
}
 .text{
	font-family: "PtSansRegular";
	position: relative;
	top:-10px;
	width: 700px;
	margin-left: 29px;
	color: #333333;
}
.header_text p{
	display: inline-block;
	font-size: 14px;
	margin-right:12px;
	margin-bottom:0;
}
.header_text a{
	color:#a1a1a2;
	text-decoration: none;
}
.header_text span{
	color:#bbbbbb;
	margin: 0 15px 0 0;
	padding-bottom: 10px;
} 
.header_text h3{
	margin: 0 0 25px 0;
	font-size: 30px;
	color: #a1a1a2;
	letter-spacing: 1.4px;
}

.text .main_text{
	border-bottom: 1px solid #cad3dc;
	border-top: 1px solid #cad3dc;
	padding: 35px 0 6px;
	margin: 26px 0 27px;
	font-size: 16px;
	letter-spacing: 0.3px;
	line-height: 20px;
}
.first_p{
	font-style: italic;
}
.main_text > h3{
	padding: 10px 0 8px;
}
.second_p{
	padding-top: 10px;
	padding-bottom: 25px;
}
.main_text img{
	position: relative;
	left: -30px;
}
.third_p{
	margin: 35px 0 20px;
}
.comment{
	margin-top: 34px;
	letter-spacing: 1px;
}
.fourth_p{
	letter-spacing: 1.25px;
	font-family:"PtSansRegular";
}
.btn-warning{
	border-radius: 20px;
	color:#333333;
	font-size: 20px;
	padding:10px 56px;
	margin-top: 4px;
}
.form-group1{
	margin: 15px 0;
	width: 245px;
	display: inline-block;
	border-radius: 5px;
}
.form-group2{
	border-radius: 5px;
}
.btn-default {
	border-radius: 15px;
	background-image: linear-gradient(to bottom, #f4f4f4, #e2e2e2);
}
.pagination a{
	margin-right: 10px;
}
footer{
	background: #fff;
	padding: 0 0 50px 0;
}
.footer1 {
    font-size: 14px;
    color: #cacaca;
    margin-top: 63px;
    display: inline-block;
    width: 400px;
    float: left;
}
.footer2 {
    display: inline-block;
    float: left;
    margin-top: 59px;
    width: 160px;
}
.footer3 {
    margin: 57px 23px 0 60px;
    float: left;
}
.footer4 {
    margin-top: 57px;
    float: left;
}
.footer4 img{
	margin-right: 18px;
}






